<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'NOTIFY' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="fab-notification" [routerLink]="['/ps-search']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

  </ion-fab>
  <ion-list no-lines *ngIf="showStreets">
    <div *ngFor="let s of showStreets">
      <div [id]="s.id">
        <ion-card-content>
          <div class="left" (click)="openStreetDetail(s)">
            <div class="interaction result">{{s.streetName}}</div>
          </div>
          <div class="right" (click)="toggleNotification(s)">
              <ion-icon class="interaction icon-notification" name="notifications" *ngIf="isEnabled(s); else disabled"></ion-icon>
              <ng-template #disabled>
                <ion-icon class="interaction icon-notification" name="notifications-outline"></ion-icon>
              </ng-template>
            </div>
        </ion-card-content>
      </div>
    </div>
  </ion-list>
</ion-content>