ion-card {
    background: white !important;
}
.left {
    float: left;
    width: 75%;
    padding-bottom: 5%;
}
.right {
    float: right;
    vertical-align: middle;
}
.notification {
    text-align: center;
}
.left h1 {
    // margin-top:15%;
}
.interaction {
    color: #11B3EF!important;
}
.icon-notification{
    font-size: 30px;
}
.fab-notification{
    --background:#11B3EF!important;
}
.result{
    font-size: 30px;
}