<ion-header [ngClass]="{'higher': searchAndIos()}" >
    <ion-searchbar class="search-notizie" [ngClass]="{'searchspace': isRicercaOpen}" style="display: none"  showCancelButton="always" animated (ionChange)="Ricerca()" (ionCancel)="OpenCloseRicerca()"   placeholder="{{'label_search' | translate}}" id="barraDiRicerca"
    [(ngModel)]="daCercare"></ion-searchbar>
  <ion-toolbar>

      <ion-buttons slot="start">
        <ion-back-button class="interaction"></ion-back-button>
      </ion-buttons>
      <ion-title float-left id="TITOLO"> {{'avvisi_label'|translate}}
      </ion-title>
      <ion-buttons slot="end" *ngIf="!isRicercaOpen">
        <ion-button fill="clear" float-right (click)="OpenCloseRicerca()" id="btnImpostazioniRicerca" color="light">
          <svg width='24' height='24' viewBox='0 0 24 24'>
            <path fill='none' d='M0 0h24v24H0V0z' />
            <path
              d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z' />
          </svg>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>
<ion-content>
    <div class="ion-padding" *ngIf="!emptyList; else emptyListTemplate">
      <div *ngFor="let item of datiRicerca" id="contenitoreAnteprima">
        <wc-anteprima showimage=false (eventMappa)="visualizzaMappa(item.coordinates[0], item.coordinates[1])"
          (eventShare)="visualizzaShare(item.title, item.image ,item.shortAbstract)" id="elemento" img={{item.image}}
          [titolo]="item.title" orario={{item.eventStart}} datapubblicazione={{formattaData(item.created)}}
          dataevento={{item.eventDate}} durata={{item.eventTiming}} [descrizione]="item.shortAbstract"
          luogo={{item.address}}>
        </wc-anteprima>
      </div>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="caricaAltriDati($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Sto caricando..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  </div>
  <ng-template #emptyListTemplate>
    <div class="empty-list">{{'empty_list_label'|translate}}</div>
  </ng-template>
</ion-content>