<ion-header [ngClass]="{'higher': searchAndIos()}" >
         <ion-toolbar>
        <!-- <ion-searchbar (ionChange)="Ricerca()" placeholder="cerca nominativo" [(ngModel)]="name" clearIcon="false"> -->
        <!-- </ion-searchbar> -->
        <ion-title *ngIf="!search">
                {{'title_funerali'|translate}}
              </ion-title>
        <ion-buttons class="interactive" slot="start" *ngIf="!search">
            <ion-back-button class="interaction"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end" *ngIf="!search">
            <ion-button (click)="toggleSearch()">
                <ion-icon name="search"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-searchbar mode="md" class="search-funerali" [ngClass]="{'searchspace': search}" style="display: none" showCancelButton="always" animated  
        (ionInput)="searchChanged($event)" (ionCancel)="toggleSearch()" placeholder="{{'label_search' | translate}}"></ion-searchbar>
   
    </ion-toolbar>
    <div class="wrapper" *ngIf="!search">
            <div id="idDates" class="scrolling-wrapper-flexbox loop">
                <ion-chip class="date-chip" *ngFor="let c of dates" id="{{c}}" (click)="selectInternalElement(c)"
                    [ngClass]="{'datesSelected': isSelected(c)}">
                    <ion-label class="interaction" [ngClass]="{'datesSelected': c===actualVisualized}">{{c}}</ion-label>
                </ion-chip>
            </div>
        </div>
</ion-header>

<ion-content>
   
    <div id="funerali">
        <ion-list no-lines padding *ngIf="!emptyList">
            <div *ngFor="let c of dates">
                <ion-item class="label-type ion-text-center  funeral-container" sticky *ngIf="oneElement(c)">
                    <div>{{c}}</div>
                </ion-item>
                <div class="content " >
                    <div  class="funeral-container" *ngFor="let item of showFunerali[c]; let i = index">
                        <div class="{{item.dataFunerale}}" inViewport [inViewportOptions]="{ threshold: [0]}"
                            (inViewportAction)="onIntersection($event)">
                            <dettaglio-morte (indicazioni)="IndicazioniFunerali(i)" (condividi)="CondividiFunerali(item)"
                                [funerale]="sendParam(item)" [string]="string" isFunerale={{true}}></dettaglio-morte>
                        </div>
                    </div>
                </div>
            </div>
        </ion-list>
        <div class="empty-list" *ngIf="emptyList">
                {{'empty_list' | translate}}
            </div>
    </div>
</ion-content>