.map-container {
  /* margin-top:2%; */
  height: 100%;
}

.map-container::before {
  display: table;
  content: ""
}

#map {
  max-width: 100% !important;
  height: -webkit-fill-available;
}

/* css to customize Leaflet default styles  */
.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
  background: #ffffff;
  color: #707070;
}

.leaflet-div-icon {
  max-width: 38px;
  background: transparent !important;
  border: none !important;
}

.leaflet-marker-icon .number {
  position: relative;
  top: -41px;
  font-size: 12px;
  width: 25px;
  text-align: center;
}

.detail-bar {
  height: 2px;
  background: #ff6c00;
  background: -moz-linear-gradient(left, #ff6c00 0%, #ff6c00 25%, #f2c60b 25%, #f2c60b 50%, #6c82ff 50%, #6c82ff 75%, #2d981f 75%, #2d981f 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ff6c00), color-stop(25%, #ff6c00), color-stop(25%, #f2c60b), color-stop(50%, #f2c60b), color-stop(50%, #6c82ff), color-stop(75%, #6c82ff), color-stop(50%, #2d981f), color-stop(75%, #2d981f));
  background: -webkit-linear-gradient(left, #ff6c00 0%, #ff6c00 25%, #f2c60b 25%, #f2c60b 50%, #6c82ff 50%, #6c82ff 75%, #2d981f 50%, #2d981f 75%);
  background: -o-linear-gradient(left, #ff6c00 0%, #ff6c00 25%, #f2c60b 25%, #f2c60b 50%, #6c82ff 50%, #6c82ff 75%, #2d981f 50%, #2d981f 75%);
  background: -ms-linear-gradient(left, #ff6c00 0%, #ff6c00 25%, #f2c60b 25%, #f2c60b 50%, #6c82ff 50%, #6c82ff 75%, #2d981f 50%, #2d981f 75%);
  background: linear-gradient(to right, #ff6c00 0%, #ff6c00 25%, #f2c60b 25%, #f2c60b 50%, #6c82ff 50%, #6c82ff 75%, #2d981f 50%, #2d981f 75%);
  margin: 10px 0px;
}

.index-poi {
  position: absolute;
  left: 10px;
  background-color: #707070;
  color: white;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 18px;

}

.element-name {
  width: 100%;
  color: #707070;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
}
