<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="interaction"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'home_trasporto'|translate}}
    </ion-title>
  </ion-toolbar>
  <div class="wrapper">
    <div class="scrolling-wrapper-flexbox loop" ng-if="primaryLinks.length>0">
      <ion-chip *ngFor="let m of primaryLinks" (click)="selectInternalElement(m)"
        [ngClass]="{'categorySelected': isSelected(m)}">
        <ion-label class="interaction" [ngClass]="{'categorySelected': isSelected(m)}">{{m.label|translate}}</ion-label>
      </ion-chip>
    </div>
  </div>
</ion-header>

<ion-content>

  <div class="line-container">
    <ion-list class="route-list space-from-top">
      <div *ngFor="let elem of elements; let i = index">
        <div class="{{elem.ref}}" inViewport [inViewportOptions]="{ threshold: [0] }"
          (inViewportAction)="onIntersection($event)">
          <ion-item *ngIf="compareElements(i)" class="label-type ion-text-center">
            <div>
              <!-- <ion-icon class="header-icon" name="{{getIconTitle(i)}}"></ion-icon> -->
              <span class="header-icon"> {{getLabel(i)|translate}}</span>
            </div>
          </ion-item>
          <ion-item class="block-tt" lines="none">
            <div class="{{elem.ref}}" (click)="selectElement(elem)">
              <div class="card card-tt" color>
                <div class="line-tt" [ngStyle]="getStyle(elem)">
                  <span [innerHTML]="getHtml(elem)"></span>
                  <ion-icon [ngStyle]="getIconStyle(elem)" *ngIf="!getHtml(elem)" name="{{getIcon(elem)}}"></ion-icon>
                </div>
                <span class="name-line" *ngIf="!inside(elem.title) && elem.title!='Funivia'">{{elem.title}}</span>
                <span class="name-line" *ngIf="titleisPresent(elem)">{{elem.group.routes[0].title}}</span>
              </div>
            </div>
          </ion-item>
        </div>
      </div>
    </ion-list>
  </div>
</ion-content>