// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

$app-interaction-color: #11B3EF;
$app-gray-1:#efefef;
$app-gray-2:#e3e3e3;
$app-gray-3:#9f9f9f;
$app-gray-4:#707070;

html {
    font-family: 'Titillium Web', sans-serif !important;
}

.fixed {
    position: fixed !important;
}
.searchbar-input {
    border: 0 !important;
    box-shadow: none !important;
}
.spacing {
    height: 50px !important;
}

.category {
    width: 100%;
    text-align: center;
    color: black;
    font-size: 24px;
    margin-bottom: 1%;
    border-bottom: 1px solid black;
}

.searchbar-input {
    background: white !important;
}

.bg {
    background: white;
}

/* in-flight clone */
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    pointer-events: none;
}

/* high-performance display:none; helper */
.gu-hide {
    left: -9999px !important;
}

/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

/* added to the source element while its mirror is dragged */
.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}

.empty-list {
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: $app-gray-4;
}

ion-radio {
    --color-checked: #11B3EF;
}

ion-checkbox {
    --background-checked: #11B3EF;
}

.welcome {
    .alert-button-inner.sc-ion-alert-md {
        justify-content: center !important;
    }

    .alert-message.sc-ion-alert-ios {
        max-height: none !important;
        max-width: none !important;
        padding-top: none;

    }

    .alert-message.sc-ion-alert-md {
        max-height: none !important;
        max-width: none !important;
        padding-top: none;

    }

    .alert-button-group {
        position: fixed;
        background-color: white;
        bottom: 0px;
        background-color: white;
        -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
        -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
    }

    .title {
        text-align: center;
        font-size: 22px;
    }

    .subtitle {
        font-size: 18px;
        color: #11B3EF;

    }

    .last-text {
        padding-bottom: 50px;
    }

    .alert-wrapper {
        height: 90% !important;
        width: 80% !important;
    }

    .hl {
        border-radius: 2px;
        height: 4px;
        background: #ff6c00;
        background: -moz-linear-gradient(left, #ff6c00 0%, #ff6c00 25%, #f2c60b 25%, #f2c60b 50%, #6c82ff 50%, #6c82ff 75%, #2d981f 75%, #2d981f 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ff6c00), color-stop(25%, #ff6c00), color-stop(25%, #f2c60b), color-stop(50%, #f2c60b), color-stop(50%, #6c82ff), color-stop(75%, #6c82ff), color-stop(50%, #2d981f), color-stop(75%, #2d981f));
        background: -webkit-linear-gradient(left, #ff6c00 0%, #ff6c00 25%, #f2c60b 25%, #f2c60b 50%, #6c82ff 50%, #6c82ff 75%, #2d981f 50%, #2d981f 75%);
        background: -o-linear-gradient(left, #ff6c00 0%, #ff6c00 25%, #f2c60b 25%, #f2c60b 50%, #6c82ff 50%, #6c82ff 75%, #2d981f 50%, #2d981f 75%);
        background: -ms-linear-gradient(left, #ff6c00 0%, #ff6c00 25%, #f2c60b 25%, #f2c60b 50%, #6c82ff 50%, #6c82ff 75%, #2d981f 50%, #2d981f 75%);
        background: linear-gradient(to right, #ff6c00 0%, #ff6c00 25%, #f2c60b 25%, #f2c60b 50%, #6c82ff 50%, #6c82ff 75%, #2d981f 50%, #2d981f 75%);
        margin: 10px 0px;
    }

    .ok-prompt {
        background-color: #11B3EF;
        color: white;
        width: 70%;
        margin: auto;
        text-align: center;
    }
}

itemlist {
    display: contents;
}

ion-title {
    color: #707070;
    font-size: 20px;
    font-weight: bold;
}

ion-back-button {
    --icon-font-size: 40px !important;
    --padding-start: 0px !important;
}

.toast-scheme-active {
    font-size: 18px;
    color: #2b981f;
    font-weight: bold;
}
.toast-scheme-deactive {
    font-size: 18px;
    color: #ff6c00;
    font-weight: bold;
}