// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

html {
    font-family: 'Titillium Web', sans-serif !important;
}
.fixed {
    position:fixed !important;
}
.spacing {
    height: 50px !important;
}
.category {
    width: 100%;
    text-align: center;
    color: black;
    font-size: 24px;
    margin-bottom: 1%;
    border-bottom: 1px solid black;
}
.popover-btn {
    position:fixed;
    z-index:1;
    margin-left: 64%;
    top:1px;
}