// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.fixed {
    position:fixed !important;
}
.spacing {
    height: 50px !important;
}
.category {
    background-color: red;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 2%;
}
.popover-btn {
    text-align: right;
}