.tt-button{
    font-size: 24px;
    margin: 8px;
}
.filled{
    background-color: black;
    color: white;
}
.noTable {
    width: 100%;
    font-size: 24px;
    text-align: center;
}
.interaction {
    color: #11b3ef!important;
}