.tt-button{
    font-size: 24px;
    margin: 8px;
}
.not-filled{
    background-color: white;
    color: #11b3ef;
}
.filled{
    background-color: #11b3ef!important;
    color: white!important;
}

.noTable {
    width: 100%;
    font-size: 24px;
    text-align: center;
}
.interaction {
    color: #11b3ef!important;
}