
ion-button {
}
.map {
    height: 100%;
    border: 1px solid black;
    // margin-bottom:5%;
}
#home-map {
    width: 100%;
    height: 100%;
}
ion-item *{
    margin: 0 auto;
}
ion-item {
    border-bottom: none !important;
    border-width: 0px !important;
}
.leaflet-control .mapSearch {
    width: 25px;
    height: 25px;
}
.interaction {
    color: #11B3EF!important;
}
.date {
    // background-color: #11B3EF!important;
    color: #11B3EF!important;
    font-size: 20px;
    padding: 4px;
}
.icon-home {
    font-size: 20px;
    text-align: center;
    width: 100%;
    height: 100%;
}
.icon-bar {
    font-size: 30px;

}
.locate {
    font-size: 30px!important;
}
.button-locate{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    z-index: 999;
    font-size: inherit;
   
}

.button-action:hover{
    background: url('https://i.hizliresim.com/a1zraR.png') no-repeat;
}