ion-content {
    --overflow: hidden;
    // --background: url('assets/sfondoHome.png')
    img{
        position: fixed;
        top: 0px;
    }
}

ion-button {
    margin: auto;
    text-align: center;
    display: inline-block;
    // width: 50%;
    width: 150px;
    height: 150px;
    font-size: 22px;
    font-weight: bold;
    --color: #11b3ef !important;
    --background-activated: #11b3ef !important;
    --background-focused: #11b3ef !important;
    --background: #e3e3e3 !important;
}

// ion-button:after {
//     content: "";
//     display: block;
//     padding-bottom: 100%;
// }
// .content {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//   }

.main-title {
    font-size: 28px;
    color: #393939;
    font-weight: bold;

}

.second-title {
    font-size: 22px;
    color: #707070;
    font-weight: bold;
}

.overlay {
    position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
