
<!-- <ion-content padding id="poi-container" >
    <wc-details *ngIf="poi" [title]="poi.title[lang]" [subtitle]="poi.subtitle[lang]"  [text]="poi.description[lang]" [info]="poi.info[lang]" [contacts]="contacts" [img]="poi.image" ></wc-details>
</ion-content> -->

<ion-content fullscreen="true" padding id="poi-container">
    <div shape="round" class="back-button" (click)="goBack()">
      <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
    </div>
    <wc-details  *ngIf="poi" [img]="poi.image" [stringsinput]="stringsContact" [title]="poi.title" [altImage]="altImage"
      [subtitle]="poi.subtitle" [text]="poi.description" [info]="poi.info" [contacts]="contacts"
      [subtitle]="poi.subtitle" [info]="poi.info" [contacts]="poi.infos" [expandable]=false [expanse]=true heading-color="#707070"
      second-color="#11b3ef"> </wc-details>

</ion-content>