<ion-header no-border>
    <ion-toolbar color="secondary">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
      <ion-title>
          {{'title_detail_poi'|translate}}
        </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
    <wc-poi-info *ngIf="poi" [title]="poi.title[lang]" [subtitle]="poi.subtitle[lang]"  [text]="poi.description[lang]" [info]="poi.info[lang]" [contacts]="contacts" [img]="poi.image"></wc-poi-info>
</ion-content>
