<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'street_detail' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-list no-lines *ngIf="streetDetails">
    <div *ngFor="let s of streetDetails">
      <div [id]="s.id">
        <div>
          <div class="left">
            <b>{{s.cleaningDayStr}}</b>
            <!-- <h1>{{s.streetName}}</h1> -->
            <p>{{'CLOSED' | translate}} <b>{{s.stopStartingTimeStr}}</b> - <b>{{s.stopEndingTimeStr}}</b></p>
          </div>
        </div>
      </div>
    </div>
  </ion-list>
</ion-content>