.interaction {
    color: #11B3EF !important;
}

.clean-container {
    background-color: #e3e3e3;
}

.icon-bar {
    font-size: 30px;
}

.note {
    padding: 8px;
    margin: 4px;
    text-align: center;
    color: #707070;
    font-weight: bold;

    ion-icon {
        font-size: 35px;
        height: 100%;
        display: block;
        vertical-align: middle;
        color: #ff6c00;
    }
}

.day {
    margin: 4px;
    font-size: 22px;
}

.time {
    margin: 4px;
    font-size: 17px;
}

.note {
    margin: 4px;
    font-size: 14px;
}