<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="interaction"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <div (click)="toggleNotification()">
            <ion-icon class="interaction icon-bar" name="notifications" *ngIf="isEnabled(); else disabled"></ion-icon>
            <ng-template #disabled>
              <ion-icon class="interaction icon-bar" name="notifications-outline"></ion-icon>
            </ng-template>
          </div>
              </ion-buttons>

    <ion-title>
      {{streetName}}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-list  *ngIf="streetDetails">
    <div class="clean-container" *ngFor="let s of streetDetails">
      <div [id]="s.id">
        <div>
          <div class="left">
            <b>{{s.cleaningDayStr}}</b>
            <!-- <h1>{{s.streetName}}</h1> -->
            <p>{{'CLOSED' | translate}} <b>{{s.stopStartingTimeStr}}</b> - <b>{{s.stopEndingTimeStr}}</b></p>
            <div>{{s.notes}}</div>
          </div>
        </div>
      </div>
    </div>
  </ion-list>
</ion-content>