<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button class="interaction"></ion-back-button>
        </ion-buttons>
        <ion-title>{{title}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div>
        <div class="box-line" [ngStyle]="getStyle()"><span [innerHTML]="getHtml(line)"></span></div>
        <div class="ion-text-center direction">{{'choose_direction_label'|translate}}</div>
    </div>
    <ion-list class="route-list space-from-top" *ngIf="view == 'list'">
        <div *ngFor="let elem of elements; let i = index">
            <ion-item lines="none" (click)="selectElement(elem)">
                <div class="card card-tt ion-text-center ">{{elem.title}}</div>
            </ion-item>
            <div class="h-line" *ngIf="notLast(i)"></div>
        </div>
    </ion-list>
    <ion-grid class="space-from-top" *ngIf="view == 'grid'">
        <ion-row class="row route-grid-row" *ngFor="let row of gridRows">
            <ion-col class="col text-center" *ngFor="let elem of row" (click)="selectElement(elem)">
                <div class="route-grid-element" *ngIf="elem.label">
                    <span *ngIf="!elem.gridCode">{{elem.label}}</span>
                    <span *ngIf="elem.gridCode"><i class="icon"></i></span>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>