.container {
    border: solid 1px red;
    padding: 8px;
    margin: 8px;
    box-shadow: 0.5em 0.5em 0.5em 0em lightgrey;
    max-width: 100%;
}
.img-button img{
    margin: auto;
    display: block;
    min-width: 15%;
    max-width: 25%;
}
.text-button {
    text-align: center;
    margin: 8px;
    font-size: 22px;
}
.green {
    color: green;
}
.red {
    color: red;
}