.container {
    border: solid 1px red;
    padding: 8px;
    margin: 8px;
    box-shadow: 0.5em 0.5em 0.5em 0em lightgrey;
    max-width: 100%;
    /* white-space: nowrap; */
}
.container::after{
    clear:both;
    content:"";
    display:table;
}
.img-button {
    margin: auto;
}
.text-button {
    text-align: center;
    margin: 8px;
    font-size: 22px;
    
}
.icon {
    min-width: 5%;
    max-width: 10%;
    margin: 1%;
}
.icon-left {
    text-align: left;
    float: left;
}
.icon-right {
    text-align:right;
    float:right;
}
.icon-top {
    display:block;
    text-align: center;
    margin: 0 auto;
}