<ion-header no-border>
    <ion-toolbar color="secondary">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
      <ion-title>
          {{'title_list_poi'|translate}}
        </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <ion-list no-lines id="poi-list">
    <div *ngFor="let poi of pois">      
      <wc-path-list-el type="EVENT" [id]="poi.id" [img]="poi.image" [title]="poi.title" [text]="poi.subtitle" main-color="red"></wc-path-list-el>
    </div>
  </ion-list>
</ion-content>
