<ion-header no-border>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>
        {{'event_list'|translate}}
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid style="height: 100%" *ngIf="isLoading">
    <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-spinner name="circles"></ion-spinner>
    </ion-row>
</ion-grid>

<ion-content padding>
    <ion-searchbar *ngIf="search" showCancelButton animated (ionInput)="searchChanged($event)" (ionCancel)="toggleSearch()"></ion-searchbar>
    
    <!-- FLOATING BUTTON -->
    <ion-fab *ngIf="!isLoading" class="fixed" vertical="bottom" horizontal="start" slot="fixed">
      <ion-fab-button color="danger">
        <ion-icon name="arrow-dropup-circle"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
          <ion-fab-button (click)="toggleSearch()">
            <ion-icon name="search"></ion-icon>
          </ion-fab-button>
          <ion-fab-button (click)="filterClicked()">
              <ion-icon name="funnel"></ion-icon>
            </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
    <!-- ---------------------------- -->

  <ion-button *ngIf="!search" class="popover-btn" size="small" color="success" (click)="showPopover()">Categoria</ion-button>
  <ion-list no-lines id="poi-list">
    <div *ngFor="let c of categories">
      <ion-list-header class="category">
        <ion-label>{{c}}</ion-label>
      </ion-list-header>
      <div *ngFor="let poi of showPois[c]; let i = index">
        <wc-details [img]="poi.image" [title]="poi.title" [subtitle]="poi.subtitle" [text]="poi.text" [info]="poi.info" [contacts]="poi.infos" heading-color="red"></wc-details>
        <div class="spacing" *ngIf="i == showPois.length - 1"></div>
      </div>
    </div>
  </ion-list>
</ion-content>
