<ion-header no-border [ngClass]="{'higher': searchAndIos()}" >
      <ion-searchbar class="search-event"  [ngClass]="{'searchspace': search}" style="display: none" showCancelButton="always" animated  (search)="toggleSearch()"
      (ionInput)="searchChanged($event)" (ionCancel)="toggleSearch()" ></ion-searchbar>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button class="interaction"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="filterClicked()">
        <ion-icon name="options"></ion-icon>
      </ion-button>
      <ion-button (click)="toggleSearch()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{'EVENTS' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">

  <ion-searchbar style="display: none" showCancelButton animated (search)="toggleSearch()"
    (ionInput)="searchChanged($event)" (ionCancel)="toggleSearch()"></ion-searchbar>
  <div *ngIf="!emptyList" >
  <div class="wrapper" *ngIf="presentFilter">
      <div class="scrolling-wrapper-flexbox loop">
        <div class="container" *ngFor="let tag of tags">
        <div class="tag"  *ngIf="tag.isChecked">
          <div class="tag-text">
            {{tag.value}}
            <ion-icon name="close-circle" (click)="removeTag(tag)"></ion-icon>
          </div>
          
        </div>
      </div>
      </div>
    </div>
  <div class="wrapper" *ngIf="!presentFilter">
    <div id="idCategories" class="scrolling-wrapper-flexbox loop">
      <ion-chip *ngFor="let c of categories" id="{{getClassName(c)}}" (click)="selectInternalElement(getClassName(c))" [ngClass]="{'categorySelected': isSelected(c)}">
        <ion-label class="interaction" [ngClass]="{'categorySelected': compareActual(c)}">{{getDateSTring(c)}}</ion-label>
      </ion-chip>
    </div>
  </div>
  <ion-list no-lines id="poi-list">
    <div *ngFor="let c of categories">
      <ion-item class="label-type ion-text-center" sticky *ngIf="oneElement(c) && !presentFilter">
          <div>{{getDateSTring(c)}}</div>
      </ion-item>
      <div class="content" >
        
        <div *ngFor="let poi of showPois[c]; let i = index">
          <div class="{{getClassName(poi.day)}}"   inViewport
          [inViewportOptions]="{ threshold: [0] }" (inViewportAction)="onIntersection($event)">
            <wc-details [id]="poi.id" [img]="poi.image" [stringsinput]="stringsContact" [title]="poi.title"
              [altImage]="altImage" [stringsinput]="stringsContact" [title]="poi.title" [altImage]="altImage"
              [subtitle]="poi.subtitle" [text]="poi.text" [info]="poi.info" [contacts]="poi.infos"
              heading-color="#707070" second-color="#11b3ef" expandable=true expanse=false></wc-details>
            <div class="spacing" *ngIf="i == showPois.length - 1"></div>
          </div>
        </div>
      </div>
    </div>
  </ion-list>
</div>
<div class="empty-list" *ngIf="emptyList">
    {{'empty_list' | translate}}
</div>
</ion-content>