@import '../../../global.scss';

ion-header {
    ion-button {
        background-color: white;
        color: $app-interaction-color;
    }
}

ion-toolbar {

    // --background: url('../../../assets/dots.png') no-repeat fixed ; 
    img {
        position: fixed;
        top: 0px;
    }
}

ion-content {
    --ion-background-color: #efefef;
    height: 100%;
    .scroll-down{
        width: 100%;;
    }
}

.title-home {
    color: $app-interaction-color;
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 32px;
}

.home-button {
    // border: 2px solid black;
    border-radius: 4px;
    width: 100%;
    min-height: 90px;
    // margin-bottom: 5%;
    background: white;
    color: $app-interaction-color;
    text-align: center;
    padding: 2%;

    .label-button {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        margin: auto;
        font-size: 22px;
        text-align: center;
        display: inline-block;
        padding: 21px 15px;
        font-size: 22px;
        font-weight: bold;
    }
}

.swiper-slide img {
     max-height: none;
    width: 100% !important;
    object-fit: cover !important;
}

ion-slides {
    // max-height: 250px;
    // min-height: 250px;
    background-color: white;
    --bullet-background: white !important;
    --bullet-background-active: #11B3EF !important;
}

.item-bar {
    position: fixed;
    bottom: 0px;
}

ion-grid {
    background-color: #efefef;
}

ion-fab {
    position: fixed;

}

ion-fab-button {
    --background: #11B3EF;

    ion-icon {
        font-size: 33px;
    }

}

.image-container {
    position: relative;
    width: 100%;
    img {
        height: 200px;
        width: 100% !important;
        object-fit: cover !important;
    }


    .string-slide {
        position: absolute;
        bottom: 20px;
        color: white;
        opacity: 1;
        background: rgba(0, 0, 0, 0.6);
        text-align: center;
        line-height: 50px;
        width: 100%;

    }
}


.container {
    padding-bottom: 32px;
}