.container{
    max-width: 100%;
}
.image img{
    height: 200px;
    width: 100%;
}
.info-title{
    font-size: 25px;
    font-weight: bold;
    margin-top:2%;
    margin-bottom:3%;
}
.subtitle{
    font-size: 18px;
    font-style: italic;
    margin-bottom:3%;
}
.title-2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom:3%;
}
.text{
    margin-bottom:3%;
    font-size: 15px;
}
.contacts{
    margin:5%;
}
.contacts::after{
    clear:both;
    content:"";
    display:table;
}
.contacts .icon{
    float:left;
    margin-right:2%;
}
.contacts .contact-info{
    margin-top:1%;
    display:inline-block;
}