@import '../../../global.scss';

ion-content {
    --overflow: hidden;
}

.close-setting {
    background-color: white;
    color: $app-interaction-color;
    font-size: 32px;
}

.title {
    background-color: rgba(255, 255, 255, .5);
    color: #707070;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin: 8px 0px;
}

.scrolling-wrapper-flexbox-cards {
    // background-color: rgba(255, 255, 255, .5);
    left: 0px;
    position: fixed;
    bottom: 50px;
    width: 100vw;
    height: 100px;
    display: flex;
    overflow-x: auto;
    z-index: 999;
    // padding-top: 8px;

    .card {
        margin: 0px 16px;
        background-color: #efefef !important;
        flex: 0 0 auto;
        color: #707070;
        background: white;
        border-radius: 12px;
        position: relative;
        width: 40%;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 8px;

        .home-container {
            display: table;
            width: 100%;
            height: 100%;

            .label-button {
                font-size: 22px;
                text-align: center;
                display: inline-block;
                font-size: 22px;
                font-weight: bold;
                width: 75%;
                height: 100%;
                display: inline;

                display: table-cell;
                vertical-align: middle;
                text-align: center;
                display: table-cell;
                vertical-align: middle;
                white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
max-width: 50px;
            }

            .add {
                position: relative;
                border-radius: 0px 12px 12px 0px;
                background: #2d981f;
                color: white;
                font-size: 16px;
                display: inline;
                float: right;
                height: 100%;
                width: 100%;
                display: table-cell;
                vertical-align: middle;

                ion-icon {
                    position: absolute;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    /* width: 100%; */
                    left: 50%;
                    font-size: 48px;
                }
            }
        }
    }
}

.container-button {
    height: 65%;
    overflow: hidden;
    overflow-y: scroll;
    border: 3px solid $app-interaction-color;
    background-color: #e3e3e3;

    #category-buttons {
        height: 100%;
        // height: calc(100% - 187px);

        position: relative;
        background-color: $app-gray-2;

        ion-grid {
            height: 100%;
        }

        .drag-label {
            position: absolute;
            bottom: 0px;
            text-align: center;
            width: 100%;
            opacity: 0.5;
        }

        .home-button {
            border-radius: 12px;
            width: 100%;
            min-height: 90px;
            background: white;
            color: $app-interaction-color;
            text-align: center;

            .home-container {
                /* text-align: center; */

                display: table;
                width: 100%;
                height: 90px;

                .close {
                    position: relative;
                    border-radius: 0px 12px 12px 0px;
                    background: #ff6c00;
                    color: white;
                    font-size: 16px;
                    display: inline;
                    float: right;
                    height: 100%;
                    width: 100%;
                    display: table-cell;
                    vertical-align: middle;

                    ion-icon {
                        position: absolute;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        /* width: 100%; */
                        left: 50%;
                        font-size: 48px;
                    }
                }

                .label-button {

                    font-size: 22px;
                    text-align: center;
                    display: inline-block;
                    font-size: 22px;
                    font-weight: bold;
                    width: 75%;
                    height: 100%;
                    display: inline;

                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                    display: table-cell;
                    vertical-align: middle;
                    white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
max-width: 100px;
                }
            }
        }
    }
}

.close {
    font-size: 12px;
}

.save-button {}

.horizzontal-arrow {
    position: fixed;
    bottom: 0px;
    height: 50px;
    width: 100%;
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
    height: 60px;
    cursor: pointer;
}

.arrow-right {
    position: absolute;
    top: 25px;
    width: 90%;
    height: 2px;
    background-color: #000000;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    animation: arrow 700ms linear infinite;
}

.arrow-right::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    top: -3px;
    right: -2px;
    background-color: #000000;
    transform: rotate(45deg);
}

.arrow-right::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    top: 3px;
    right: -2px;
    background-color: #000000;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
}

.arrow-left {
    position: absolute;
    top: 25px;
    width: 90%;
    height: 2px;
    background-color: #000000;
    animation: arrow 700ms linear infinite;
}

.arrow-left::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    top: -3px;
    left: -2px;
    background-color: #000000;
    transform: rotate(-45deg);
}

.arrow-left::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    top: 3px;
    left: -2px;
    background-color: #000000;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(45deg);
}

.gu-mirror {
    flex: 0 0 auto;
    border: 2px solid $app-interaction-color;
    background: white;
    margin: 4px;
    padding: 8px;
    transform-origin: 20% 40%;
}

.interaction {
    color: #11b3ef !important;
}



ion-fab-button {
    --background: #11B3EF;

}

.chip-selected {
    background-color: $app-interaction-color;

    ion-icon {
        color: white !important;
        background-color: $app-interaction-color !important;
    }

    ion-label {
        color: white !important;
        background-color: $app-interaction-color !important;
    }
}

div[scrollx=true],
div[scrolly=true] {
    position: relative;
    overflow: hidden;

    ::-webkit-scrollbar {
        display: none;
    }
}

div[scrollx=true] {
    overflow-x: auto;
}

div[scrolly=true] {
    overflow-y: auto;
}

.wrapper {
    .scrolling-wrapper-flexbox {
        position: unset;
        -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        background-color: white;
        width: 100%;
        display: flex;
        overflow-x: auto;
        z-index: 999;
        // position: fixed;
        ion-chip {
            width: 38%;
            font-weight: bold;
            flex: 0 0 auto;
            ion-label {
                width: 100%;
                text-align: center;
            }
        }
    }
}