<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button> </ion-buttons>
    <ion-title class="title">{{'title_home_setting'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding forceOverscroll="false">
    <ion-chip outline=true (click)="goToSettings()">
        <ion-icon name="cog" color="primary"></ion-icon>
        <ion-label>{{'label_other_settinga'|translate}}</ion-label>
      </ion-chip>
  <ion-grid id="category-buttons">
    <ion-row dragula="entries" [(dragulaModel)]="categories" lines="none">
      <ion-col size="6" delayDragLift *ngFor="let category of categories">
        <div class="home-button" (press)="doSomething()">
          <div>
            <div>{{category.name[language]}}</div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <div class="drag-label">
        {{'label_setting_drag'|translate}}
    </div>
  </ion-grid>
  <div class="wrapper">
    <div class="scrolling-wrapper-flexbox loop" dragula="entries" [(dragulaModel)]="allCategories">
      <div class="card"  delayDragLift *ngFor="let category of allCategories" (press)="doSomething()">
        <h2>{{category.name[language]}}</h2>
      </div>
    </div>
  </div>
  <div class="horizzontal-arrow">
      <div class="icon">
          <div class="arrow-right"></div>
          <div class="arrow-left"></div>
        </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="save-button" (click)="saveHome()">
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>