<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <button class="close-setting" ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button> </ion-buttons>
    <ion-title class="title">{{'title_home_setting'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding forceOverscroll="false">
  <ion-chip outline=true (click)="select('settings')" [ngClass]="{'chip-selected': isSelected('settings')}">
    <ion-icon name="cog" class="interaction"></ion-icon>
    <ion-label class="interaction">{{'label_other_settinga'|translate}}</ion-label>
  </ion-chip>
  <ion-chip outline=true (click)="select('about')" [ngClass]="{'chip-selected': isSelected('about')}">
    <ion-label class="interaction">{{'label_about'|translate}}</ion-label>
  </ion-chip>
  <div class="container-button" *ngIf="!selection" >
    <div scrollY="true">
    <ion-list  id="category-buttons">
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let category of categories">
          <div class="home-button">
            <div>
              <div class="label-button">{{category.name[language]}}</div>
            </div>
            <div class="close" (click)="removeElement(category)">
                <ion-icon name="close"></ion-icon>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</div>
    <div class="wrapper">

      <div class="scrolling-wrapper-flexbox loop">
        <div class="card all-card" *ngFor="let category of allCategories">
            <div class="add" (click)="addElement(category)">
                <ion-icon name="add"></ion-icon>
              </div>
          <h2>{{category.name[language]}}</h2>
        </div>
      </div>
    </div>

  </div>
  <div  scrollY="true"  *ngIf="isSelected('settings')">
    <ion-list>
      <ion-radio-group (ionChange)="onLanguageChanged($event)" [(ngModel)]="selectedLanguage">
        <ion-list-header>
          <ion-label>{{title}}</ion-label>
        </ion-list-header>

        <ion-item *ngFor="let language of languages">
          <ion-label>{{language.value}}</ion-label>
          <ion-radio slot="start" value="{{language.key}}"></ion-radio>
        </ion-item>

      </ion-radio-group>
    </ion-list>
  </div>
  <div *ngIf="isSelected('about')">
    Credits
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="save-button" (click)="saveHome()">
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>