@import '../../../global.scss';

ion-content{
    --overflow: hidden;
}
.close-setting{
    background-color: white;
    color: $app-interaction-color;
    font-size: 32px;
}
.title {
    background-color: rgba(255, 255, 255, .5);
    color: #707070;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin: 8px 0px;
}

.scrolling-wrapper-flexbox {
    background-color: rgba(255, 255, 255, .5);
    left: 0px;
    position: fixed;
    bottom: 50px;
    width: 100vw;
    height: 100px;
    display: flex;
    overflow-x: auto;
    z-index: 999;
    padding-top: 8px;
    .card {
        flex: 0 0 auto;
        color: black;
        border: 2px solid $app-interaction-color;
        background: white;
        padding: 8px;
        margin: 4px;
        position: relative;
        width: 40%;
        padding: 8px 0px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        -webkit-box-shadow: 14px 14px 42px -10px rgba(0,0,0,0.82);
        -moz-box-shadow: 14px 14px 42px -10px rgba(0,0,0,0.82);
        box-shadow: 14px 14px 42px -10px rgba(0,0,0,0.82);
         .add{
            position: absolute;
            background: green;
            color: white;
            text-align: center;
            top: -10px;
            right: -3px;
            width: 20px;
            height: 20px;
            font-size: 16px;
            border-radius: 10px;
        }
    }
}

.container-button {
    height: 65%;
    overflow: hidden;
    overflow-y: scroll;
    border: 3px solid $app-interaction-color;
    #category-buttons {
        height: 100%;
        // height: calc(100% - 187px);
       
        position: relative;
        background-color: $app-gray-2;
        ion-grid{
            height: 100%;
        }
        .drag-label {
            position: absolute;
            bottom: 0px;
            text-align: center;
            width: 100%;
            opacity: 0.5;
        }

        .home-button {
               // border: 2px solid black;
    border-radius: 4px;
    width: 100%;
    min-height: 90px;
    // margin-bottom: 5%;
    background: white;
    color: $app-interaction-color;
    text-align: center;
    padding: 2%;
            .close {
                position: absolute;
                background: red;
                color: white;
                text-align: center;
                top: -10px;
                right: -3px;
                width: 20px;
                height: 20px;
                font-size: 16px;
                border-radius: 10px;
            }
            .label-button {
                position: absolute;
                left: 0;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                margin: auto;
                font-size: 22px;
                text-align: center;
                display: inline-block;
                padding: 21px 15px;
                font-size: 22px;
                font-weight: bold;
            }
        }
    }
}

.close {
    font-size: 12px;
}

.save-button {}

.horizzontal-arrow {
    position: fixed;
    bottom: 0px;
    height: 50px;
    width: 100%;
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
    height: 60px;
    cursor: pointer;
}

.arrow-right {
    position: absolute;
    top: 25px;
    width: 90%;
    height: 2px;
    background-color: #000000;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    animation: arrow 700ms linear infinite;
}

.arrow-right::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    top: -3px;
    right: -2px;
    background-color: #000000;
    transform: rotate(45deg);
}

.arrow-right::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    top: 3px;
    right: -2px;
    background-color: #000000;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
}

.arrow-left {
    position: absolute;
    top: 25px;
    width: 90%;
    height: 2px;
    background-color: #000000;
    animation: arrow 700ms linear infinite;
}

.arrow-left::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    top: -3px;
    left: -2px;
    background-color: #000000;
    transform: rotate(-45deg);
}

.arrow-left::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    top: 3px;
    left: -2px;
    background-color: #000000;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(45deg);
}

.gu-mirror {
    flex: 0 0 auto;
    border: 2px solid $app-interaction-color;
    background: white;
    margin: 4px;
    padding: 8px;
    transform-origin: 20% 40%;
}

.interaction {
    color: #11b3ef;
}

ion-chip {
    width: 47%;
    font-weight: bold;

    ion-label {
        width: 100%;
        text-align: center;
    }
}
ion-fab-button {
    --background :  #11B3EF;

}
.chip-selected {
    background-color: $app-interaction-color;

    ion-icon {
        color: white;
        background-color: $app-interaction-color;
    }

    ion-label {
        color: white;
        background-color: $app-interaction-color;
    }
}
div[scrollx=true], div[scrolly=true] {
    position: relative;
    overflow: hidden;
  
    ::-webkit-scrollbar {
      display: none;
    }
  }
  
  div[scrollx=true] {
    overflow-x: auto;
  }
  
  div[scrolly=true] {
    overflow-y: auto;
  }
