ion-card {
    background: white !important;
}
.left {
    float: left;
    width: 75%;
    // padding-bottom: 5%;
}
.right {
    float: right;
    vertical-align: middle;
}
.notification {
    text-align: center;
}
.interaction {
    color: #11B3EF!important;
}

.icon-notification{
    font-size: 30px;
}
.result{
    font-size: 30px;
}