<ion-header no-border>
  <ion-toolbar>
    <ion-searchbar showCancelButton="never" animated (ionInput)="search($event)" placeholder="{{'SEARCH' | translate}}">
    </ion-searchbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>
      {{'SEARCH' | translate}}
    </ion-title> -->
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-list no-lines *ngIf="showStreets">
    <div *ngFor="let s of showStreets">
      <div [id]="s.id">
        <div>
          <div class="left" [routerLink]="['/street-detail']" [queryParams]="{detail: s}" routerDirection="forward">
            <!-- <b>{{s.cleaningDayStr}}</b> -->
            <h1>{{s.streetName}}</h1>
            <!-- <p>{{'CLOSED' | translate}} <b>{{s.stopStartingTimeStr}}</b> - <b>{{s.stopEndingTimeStr}}</b></p> -->
          </div>
          <div class="right" (click)="toggleNotification(s)">
            <!-- <ion-toggle [id]="'tog-' + s.idNumber" (ionChange)="toggle($event)" [value]="s.streetName"></ion-toggle> -->
            <ion-icon name="notifications" *ngIf="isEnabled(s); else disabled"></ion-icon>
            <ng-template #disabled>
              <ion-icon name="notifications-outline"></ion-icon>
            </ng-template>
          </div>
          <!-- <p [id]="'not-' + s.idNumber" class="notification">{{'NOTIFY-DIS' | translate}}</p> -->
        </div>
      </div>
    </div>
  </ion-list>
</ion-content>