ion-card {
    background: white !important;
}
.left {
    float: left;
    width: 75%;
    padding-bottom: 5%;
}
.right {
    float: right;
    vertical-align: middle;
}
.notification {
    text-align: center;
}