.card {
  margin: 2%;
  /* border: 1px solid black; */
  background: #efefef !important;
}

.container {
  margin: 2%;
}

.image {
  /* width: 98%;
  margin: 2% */
}

.image img {
  min-width: 100%;
  min-height: 100px;
  text-align: center;
  line-height: 100px;
  height: 200px;
  width: 100%;
  /* border: 1px solid black; */
  margin-right: 2%;
}

.info-title {
  text-align: center;
  font-size: 20px;
  margin-top: 2%;
  margin-bottom: 3%;
}

.subtitle {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 3%;
}

.icon-contact {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  color: #11b3ef;
}

.title-2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 3%;
}

.text {
  margin-bottom: 3%;
  font-size: 12px;
}

.tags {
  margin-bottom: 3%;
}

.tags::after {
  clear: both;
  content: "";
  display: table;
}

.tag {
  display: inline-block;
  border: 1px solid #11b3ef;
  color:#11b3ef;
  background-color: #e3e3e3;
  border-radius: 20px;
  margin: 1%;
}

.tag:first-child {
  margin-left: 0px;
}

.tag p {
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 10px
}

.datetime {
  font-weight: bold;
  margin-bottom: 3%;
}

.address {
  margin-bottom: 3%;
}

.contacts {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  margin: 0 auto;
}

.external-container {
  width: 25%;
  margin: auto;
}

.contact-container {
  /* width: 25%; */
  display: table;
  background-color: white;
  border: 1px solid #11b3ef;
  border-radius: 4px;
  margin: auto;

}

.contactLabel {
  font-size: 12px;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  padding: 4px;
  color: #11b3ef;
}

.datetime {
  font-size: 13px;
}

.detail-bar {
  height: 2px;
  background: #ff6c00;
  background: -moz-linear-gradient(left, #ff6c00 0%, #ff6c00 25%, #f2c60b 25%, #f2c60b 50%, #6c82ff 50%, #6c82ff 75%, #2d981f 75%, #2d981f 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ff6c00), color-stop(25%, #ff6c00), color-stop(25%, #f2c60b), color-stop(50%, #f2c60b), color-stop(50%, #6c82ff), color-stop(75%, #6c82ff), color-stop(50%, #2d981f), color-stop(75%, #2d981f));
  background: -webkit-linear-gradient(left, #ff6c00 0%, #ff6c00 25%, #f2c60b 25%, #f2c60b 50%, #6c82ff 50%, #6c82ff 75%, #2d981f 50%, #2d981f 75%);
  background: -o-linear-gradient(left, #ff6c00 0%, #ff6c00 25%, #f2c60b 25%, #f2c60b 50%, #6c82ff 50%, #6c82ff 75%, #2d981f 50%, #2d981f 75%);
  background: -ms-linear-gradient(left, #ff6c00 0%, #ff6c00 25%, #f2c60b 25%, #f2c60b 50%, #6c82ff 50%, #6c82ff 75%, #2d981f 50%, #2d981f 75%);
  background: linear-gradient(to right, #ff6c00 0%, #ff6c00 25%, #f2c60b 25%, #f2c60b 50%, #6c82ff 50%, #6c82ff 75%, #2d981f 50%, #2d981f 75%);
  margin: 10px 0px;
}
