.card{
    margin:2%;
    /* border: 1px solid black; */
    background: #e3e3e3!important;
}
.container {
    margin:2%;
}
.image {
    width: 98%;
    margin: 2%
}
.image img{
    min-width: 100%;
    min-height: 100px;
    text-align: center;
    line-height: 100px;
    height: 200px;
    width: 100%;
    /* border: 1px solid black; */
    margin-right: 2%;
}
.info-title{
    text-align: center;
    font-size: 20px;
    margin-top:2%;
    margin-bottom:3%;
}
.subtitle{
    font-size: 14px;
    font-style: italic;
    margin-bottom:3%;
}
.title-2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom:3%;
}
.text{
    margin-bottom:3%;
    font-size: 12px;
}

.tags {
    margin-bottom:3%;
}

.tags::after{
    clear:both;
    content:"";
    display:table;
}
.tag {
    display:inline-block;
    border: 1px solid black;
    border-radius: 20px;
    margin:1%;
}
.tag:first-child{
    margin-left:0px;
}
.tag p {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 10px
}
.datetime {
    font-weight: bold;
    margin-bottom:3%;
}
.address {
    margin-bottom:3%;
}
.contacts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    margin:0 auto;
}
.contact-container {
    text-align: center;
}
.contact-container{
    width: 25%;
}
.contactLabel {
    font-size:12px;
}
.datetime {
    font-size:13px;
}
