<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of filters">
      <ion-label>{{item.value}}</ion-label>
      <ion-checkbox  (ionChange)="selected=true" slot="end" [(ngModel)]="item.isChecked"></ion-checkbox>
    </ion-item>
  </ion-list>

</ion-content>
<ion-footer *ngIf="selected">
  <ion-grid>
    <ion-row>
        <ion-col size="6">
            <ion-button class="button-interaction" (click)="closeModal()">{{'cancel_button'|translate}}</ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button class="button-interaction" (click)="filter()">{{'ok_button'|translate}}</ion-button>
    
          </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>