<itemlist  title="{{'Ristoranti' | translate}}" 
  [tags]="tags" [categories]="categories" [items]="filtered" [currentCategory]="actualVisualized"
  (tagsChanged)="onTagsChanged($event)" (searchUpdate)="onSearchUpdate($event)" (searchEnd)="onSearchEnd($event)"
  (expand)="onExpand($event)" (contact)="onContact($event)">

    <div *listItem="let item">
        <wc-details [id]="item.id" [img]="item.image" [title]="item.title" [showimg]=true [showtags]=true 
        [altImage]="altImage" [stringsinput]="stringsContact" [distance]="item.distance"
        [subtitle]="item.subtitle" [text]="item.text" [info]="item.info" [contacts]="item.infos"
        heading-color="#707070" second-color="#11b3ef" expandable="false" expanse="false">
      </wc-details>
    </div> 

    <div empty>{{'empty_list' | translate}}</div>
</itemlist>
