<ion-app>
  <ion-menu side="start" menuId="first" contentId="content1">
    <ion-header>
      <ion-toolbar>
        <ion-title>Navigate</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list *ngFor="let page of navigate">
        <!-- <ion-menu-toggle auto-hide="true" *ngIf="page.url">
          <ion-item [routerLink]="page.url" routerDirection="forward">
            <ion-icon [name]="page.icon" slot="start"></ion-icon>
            {{getPageTitle(page)}}
          </ion-item>
        </ion-menu-toggle> -->
        <!-- Item with Children -->

        <ion-item button *ngIf="page.children?.length > 0" (click)="page.open = !page.open"
          [class.parent-active]="page.open" detail="false">
          <ion-icon slot="start" name="arrow-forward" *ngIf="!page.open"></ion-icon>
          <ion-icon slot="start" name="arrow-down" *ngIf="page.open"></ion-icon>
          <ion-label>{{getPageTitle(page)}}</ion-label>
            </ion-item>
                  <!-- Children List for clicked Item -->
      <ion-list *ngIf="page.open">
          <ion-menu-toggle>
            <ion-item *ngFor="let sub of page.children" class="sub-item" [routerLink]="sub.url" routerDirection="root"
              routerLinkActive="active">
              <ion-icon [name]="sub.icon" slot="start"></ion-icon>
              <ion-label>
                {{getPageTitle(sub)}}
          </ion-label>
        </ion-item>
        </ion-menu-toggle>
      </ion-list>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>