<ion-header>
    <ion-toolbar>
        <ion-grid>
            <ion-row align-items-center>
                <ion-col size="4" (click)="Funerali()">
                    <ion-title float-left id="titleFunerali">Funerali</ion-title>
                </ion-col>
                <ion-col size="4" (click)="Sepolture()">
                    <ion-title float-left id="titleSepoltura">Sepolture</ion-title>

                </ion-col>
                <ion-col size="4">
                    <ion-button fill="clear" float-right (click)="OpenCloseRicerca()" id="btnOpen" color="light">
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>

    <ion-row justify-content-center align-items-center id="ricercaNome">
        <ion-button id="buttonGiorni" icon-only color="light" (click)="OpenBarraGiorni()">
            <ion-icon name="calendar"></ion-icon>
        </ion-button>
        <ion-searchbar (ionChange)="Ricerca()" placeholder="cerca nominativo" [(ngModel)]="name" clearIcon="false"></ion-searchbar>
    </ion-row>

    <ion-row justify-content-center align-items-center id="barraGiorni">
        <ion-col col-3>
            <ion-icon name="arrow-dropleft" (click)="PreviusDay()"></ion-icon>
        </ion-col>
        <ion-col col-3 id="data">

        </ion-col>
        <ion-col col-3>
            <ion-icon name="arrow-dropright" (click)="NextDay()"></ion-icon>
        </ion-col>
    </ion-row>

</ion-header>

<ion-content>
    <div id="top"></div>
    <ion-icon id="buttonTop" (click)="GoOnTop()" color="dark" name="arrow-dropup"></ion-icon>
    <div id="funerali">
        <div *ngFor="let item of vetFunerali; let i = index;">
            <dettaglio-morte (indicazioni)="IndicazioniFunerali(i)" (condividi)="CondividiFunerali(i)" [funerale]="item"
                isFunerale={{true}}></dettaglio-morte>
        </div>
    </div>
    <div id="sepolture" style="display: none;">
        <div *ngFor="let item of vetDefunti; let i = index;">
            <dettaglio-morte (indicazioni)="IndicazioniSepolture(i)" (condividi)="CondividSepolture(i)" [defunto]="item"
                isFunerale={{false}}></dettaglio-morte>
        </div>
    </div>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="CaricaDati()" id="scroll">
        <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Sto caricando..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>


</ion-content>