<ion-header [ngClass]="{'higher': searchAndIos()}" >
        <ion-searchbar class="search-funerali" [ngClass]="{'searchspace': search}" style="display: none" showCancelButton="always" animated (search)="toggleSearch()"
        (ionInput)="searchChanged($event)" (ionCancel)="toggleSearch()"></ion-searchbar>
    <ion-toolbar>
        <!-- <ion-searchbar (ionChange)="Ricerca()" placeholder="cerca nominativo" [(ngModel)]="name" clearIcon="false"> -->
        <!-- </ion-searchbar> -->
        <ion-title>
                {{'title_funerali'|translate}}
              </ion-title>
        <ion-buttons class="interactive" slot="start">
            <ion-back-button class="interaction"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="toggleSearch()">
                <ion-icon name="search"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-content>
    <div class="wrapper" *ngIf="!search">
        <div id="idDates" class="scrolling-wrapper-flexbox loop">
            <ion-chip *ngFor="let c of dates" id="{{c}}" (click)="selectInternalElement(c)"
                [ngClass]="{'datesSelected': isSelected(c)}">
                <ion-label class="interaction" [ngClass]="{'datesSelected': c==actualVisualized}">{{c}}</ion-label>
            </ion-chip>
        </div>
    </div>
    <div id="funerali">
        <ion-list no-lines padding *ngIf="!emptyList">
            <div *ngFor="let c of dates">
                <ion-item class="label-type ion-text-center" sticky *ngIf="oneElement(c)">
                    <div>{{c}}</div>
                </ion-item>
                <div class="content" >
                    <div *ngFor="let item of showFunerali[c]; let i = index">
                        <div class="{{item.dataFunerale}}" inViewport [inViewportOptions]="{ threshold: [0]}"
                            (inViewportAction)="onIntersection($event)">
                            <dettaglio-morte (indicazioni)="IndicazioniFunerali(i)" (condividi)="CondividiFunerali(item)"
                                [funerale]="sendParam(item)" [string]="string" isFunerale={{true}}></dettaglio-morte>
                        </div>
                    </div>
                </div>
            </div>
        </ion-list>
        <div class="empty-list" *ngIf="emptyList">
                {{'empty_list' | translate}}
            </div>
    </div>
</ion-content>