#buttonGiorni{
    position: absolute;
    right: 0;
    margin: 10px 10px;
    z-index: 9999;
}

#barraGiorni {
    text-align: center;
    background-color: #f4f5f8;
    overflow: hidden;

}

ion-icon{
    width: 30px;
    height: 30px;
}

#scroll{
    margin-top: 30px;
    margin-bottom: 0;
}

#buttonTop{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    padding: 10px 10px 5px 10px;
    z-index: 9999;
}

