.container {
    text-align:center;
    margin: 1%;
    border: 1px black solid;
    margin-bottom: 3%;
}
.title > h3 {
    margin-top: 2%;
    text-align: center;
}
.description{
    margin: 1%;
}
.description > p {
    margin-bottom: 3%;
    text-align: left;
    margin-left: 15px;
}
.image{
    max-height: 175px;
    overflow: hidden;
    margin: 5px;
}
.image > img {
    max-width: 100%;
}
