.container {
    text-align:center;
    margin: 1%;
    border: 1px black solid;
    border-radius: 5px;
    box-shadow: 7px 7px 17px -7px grey;
    margin-bottom: 3%;
}
.title > h3 {
    margin-top: 2%;
    text-align: center;
}
.description{
    margin: 1%;
}
.description > p {
    margin-bottom: 3%;
    text-align: left;
    margin-left: 15px;
}
.image{
    width: 100%;
    max-height: 175px;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.image > img {
    max-width: 100%;
}
