<ion-header [ngClass]="{'higher': searchAndIos()}" >
    <ion-searchbar class="search-path" [ngClass]="{'searchspace': search}" style="display: none" showCancelButton="always" animated  
    (ionInput)="searchChanged($event)" (ionCancel)="toggleSearch()" placeholder="{{'label_search' | translate}}" ></ion-searchbar>
    <ion-toolbar>

      <ion-buttons slot="start">
          <ion-back-button class="interaction"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="toggleSearch()">
              <ion-icon name="search"></ion-icon>
            </ion-button>
          </ion-buttons>
      <ion-title>
          {{'PATH'|translate}}
        </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content >
  <ion-list no-lines id="path-list" >
    <div class="item-container" *ngFor="let poi of pois">      
      <wc-path-list-el type="PATH" [id]="poi.id" [img]="poi.image" [title]="poi.title" [text]="poi.subtitle" main-color="#11b3ef" desc-color="#707070"></wc-path-list-el>
    </div>
  </ion-list>
</ion-content>
