ion-searchbar {
    position: fixed;
    width: calc(100% - 60px);
    top: 3px;
    // top: 58px;
    z-index: 999;
}
.interaction {
    color: #11b3ef!important;
}
ion-toolbar{
    ion-buttons{
        ion-button{
            font-size: 20px;
        }
    }
}
ion-title{
    font-weight: bold;
}